/* Paramêtros Globais */
/* Seletor Global */
/* selector global para impactar o documento todo   */
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

/* ----------------------------------------BACKGROUND--------------------------------------------------- */
   /* Pseudo class root representando o documento HTml */
    :root{
        /* variáveis globais para o linear gradient */
        --primary: rgba(12, 87, 49, 0.568);
        --secondary: hsla(210, 79%, 27%, 0.75);
      }
      
      .bg-image{
        height: 100%;
        background-image: linear-gradient(180deg, var(--primary), var(--secondary)),
                          url("/Loja-E-Commerce/Images/BACKGROUND/dominique-van-velsen-by-dominique-van-velsen-offworld-cyberp.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 200vh;
      }

         /* ----------------------------------MAIN SECTION------------------------------------------------------------------------------------- */
.product-image{
  position: absolute;
  width: 48em;
  height: 62em;
  top:8%;
  left: 13%;
  background-color: rgba(255, 255, 255, 0.235);
}

.product-image img{
  width: 48rem;
  height: 42em;
}

.product-price{
  position: absolute;
  width: 48em;
  height: 62em;
  top: 8%;
  left: 52%;
  background-color: rgba(0, 0, 0, 0.538);
}

.product-price h2{
  font-size: 4em;
  display: flex;
  justify-content: center;
  transform: translateY(100%);

}

.rating-product{
  display: flex;
  justify-content: center center;
  transform: translate(6%,-12%);
  
}

main .price h2{
  font-size: 2.5em;
  position: absolute;
  top: 79.5%;
  left: 10%;
}

.cart-shop{
  font-size: 2em;
  position: absolute;
  top: 82%;
  left: 53%;
  background-color:#35b79c;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 100%;
}

.logo{
  font-size: 4em;
  position: absolute;
  top: 45%;
  left: 40%;
  color: #35b79c;
}

.product-price h2{
  transition: 0.8s;
}

.product-price h2:hover{
  color: #35b79c;
  cursor: pointer;
}

.cart-shop{
  cursor: pointer;
}

.zoom-images{
  position: absolute;
  top:66%;
  left: 17.4%;
}

.zoom-images{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3em;
}


img:hover{
  opacity: 1;
}

.zoom-images{
  cursor: pointer;
  opacity: 0.8;
}

.zoom-images{
  transition: 2s;
}

.zoom-images:hover{
  transform: scale(1.5);
}


.zoom-image-1{
  transition: 2s;
}

.zoom-image-1:hover{
  transform: scale(2.3);
  border:3px solid #35b79c;
}

.zoom-image-2{
  transition: 2s;
}

.zoom-image-2:hover{
  transform: scale(2.6);
  border:3px solid #35b79c;
}

.zoom-image-3{
  transition: 2s;
}

.zoom-image-3:hover{
  transform: scale(2);
 border:3px solid #35b79c;
}

.fifa22{
  opacity: 0.8;
}

.zoom{
  position: absolute;
  top:84%;
  left:41.7%;
}

  .container-zoom-images{
  position: absolute;
  top:67.6%;
  width: 100.35%;
  height: 14%;
  left: 3%;
  transform: translateX(-3.2%);
  background-color: rgba(0, 0, 0, 0.538);

}

.product-description-container{
  position: absolute;
  top:93%;
  width:  70.56%;
  height: 70%;
  left: 13%;
  right: 20%;
  background-color: rgba(0, 0, 0, 0.538);
}





/* -----------------------------------FOOTER------------------------------------------- */

footer{
  position: absolute;
  background-color: #35b79c;
  min-width: 100%;
  height: 18em;    
}

footer p{
  display: flex;
  justify-content: center;
  font-size: 2em;
  transform: translateY(580%);
}

.game-media{
  display: flex;
  padding-left: 20em;
  padding-top: 4em;

}

.ion-logo-xbox{
  font-size: 4em;
}

.ion-logo-playstation{
  font-size: 4em;
}

.ion-logo-apple{
  font-size: 4em;
}

.ion-logo-steam{
  font-size: 4em;
}

.ion-logo-windows{
  font-size: 4em;
}

.ion-logo-xbox{
  color:#107C10;
}

.ion-logo-playstation{
  color:rgb(29, 29, 157);
}

.ion-logo-windows{
  color:#1DA1F2;
}

.ion-logo-steam{
  color:black;
}
.ion-logo-apple{
  color:#fff;
}

.social-media{
  display: flex;
  padding-left: 124em;
  
}

.ion-logo-facebook{
  font-size: 4em;
}

.ion-logo-instagram{
  font-size: 4em;
}

.ion-logo-twitter{
  font-size: 4em;
}

.ion-logo-youtube{
  font-size: 4em;
}

.ion-logo-twitch{
  font-size: 4em;
}

footer .social-media{
position: absolute;
top: 36%;
right: 15%;
}

.ion-logo-instagram{
  color:#C13584;
  
}

.ion-logo-facebook{
  color:	#4267B2;
}

.ion-logo-twitter{
  color:#1DA1F2;
}

.ion-logo-youtube{
  color: rgb(196, 22, 22);
}

.ion-logo-twitch{
  color:rgb(135, 14, 135);
}

footer .logo{
  color: white;
  position: absolute;
  left: 46.3%;
  transform: translateY(-30%);
}



  















