/* Paramêtros Globais */
/* Seletor Global */
/* selector global para impactar o documento todo   */
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

/* ------------------------------------BACKGROUND--------------------------------------------------- */
/* Pseudo class root representando o documento HTml */
  :root{
    /* variáveis globais  para o linear gradient */
    --primary: rgba(12, 87, 49, 0.568);
    --secondary: hsla(210, 79%, 27%, 0.75);
  }
  
  .bg-image{
    height: 100%;
    background-image: linear-gradient(180deg, var(--primary), var(--secondary)),
                      url("../Images/BACKGROUND/dominique-van-velsen-by-dominique-van-velsen-offworld-cyberp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  /*------------------------------------MAIN SECTION - LOGIN FORM----------------------------------------------------------- */

main{
    height: 340px;
    top:50%;
    left: 50%;
    position: absolute;
    
}

.login-form-container{
    background-color: rgb(21 22 45 / 44%);
    width: 150%;
    max-width:900px;
    margin:32px auto;
    padding:62px 94px;
    line-height: 3.1em;
}

input{
    width: 100%;
    border:none;
}

input{
    position: relative;
    /* transition para input animation */
    transition: 1.2s;
}

input{
    width: 100%;
    padding: 15px 0;
    border:none;
    border-bottom: 4px solid #35b79c;
    background-color: #097bab00;
    outline:none;
}

.logo{
    color:#35b79c;
    font-size:4em;
    display: flex;
    justify-content: center;
    line-height: 6rem;
    transform: translateY(-22%);
}

.Username-Email:focus{
    transform:translateY(-24px);
    background-color: white;
    
}

.Password:focus{
    transform:translateY(-24px);
    background-color: white;

}

#form{
    /* para centrar o formulário  */
    transform: translate(-80%,-80%);
}
 
.btn{
    background-color: #35b79c;
    border-bottom: 4px solid white;
}

.btn-login{
    transform:translateY(60%);
}

.forget-psw{
    display: flex;
    justify-content: center;
    transform: translateY(30%);

}

.nao-tens-conta{
    display: flex;
    justify-content: center;
    transform: translateY(30%);
}

.hov-forget-psw{
    transition: .6s;
}

.hov-forget-psw:hover{
    color:#35b79c;
}

.hov-nao-tens-conta{
    transition: .6s;
}

.hov-nao-tens-conta:hover{
    color:#35b79c;
}


.btn{
    cursor: pointer;
    transition: 1.2s;
}

.btn:hover{
    color:#35b79c;
    background-color: white;
    border-bottom: 4px solid #35b79c;
}

.logo{
    cursor: pointer;
    transition: 1.2s;
}

.logo:hover{
    color:white;
}


