/* Paramêtros Globais */
/* Seletor Global */
/* Selecionar globalmente Before After para estilo */
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

/* BACKGROUND */
    /* pseudo-classe para o linear gradient*/
    :root{
        /* variáveis */
        --primary: rgba(12, 87, 49, 0.568);
        --secondary: hsla(210, 79%, 27%, 0.75);
      }
      
      .bg-image{
        height: 100%;
        background-image: linear-gradient(180deg, var(--primary), var(--secondary)),
                          url("../Images/dominique-van-velsen-by-dominique-van-velsen-offworld-cyberp.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        
      }
    
      /* ESTILO PARA MENSAGEM NA HOMEPAGE DE INTRODUÇÃO */
      .text-layout{
          width: 100%;
          position:absolute;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
          text-align: center;
      }

      /* RESPONSIVIDADE A MENSAGEM DE INTRODUÇÃO NA HOMEPAGE DE INTRODUÇÃO */
      
@media screen and(max-width:830px){
    .text-layout h1{
        font-size: 4rem;
}
      i{
          font-size: 1.2rem;
      }
    }
    
/* HEADER SECTION */
/* ESTILOS AOS ITEMS DO HEADER NAV MENU */
/* HEADER NAV */
a{
text-decoration: none;
}
     
ul{
    list-style: none;
}

/* HEADER SECTION */
header{
    width: 100%;
    position:absolute;
    position:fixed;
    top: 0;
    left: 0;
}

div .container{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.3rem;
}

.menu-icons{
    font-size: 4rem;
    position:absolute;
    top:50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor:pointer;
    z-index: 1500;
    display:none;
    
}

nav{
    display:flex;
    align-items: center;
    width: 100%;
    height: 12rem;
    border-bottom: 14px solid #35b79c;
}


.logo{
    width: 45rem;
    height: 6rem;
    font-size: 50px;
    margin-right: 12px;
    margin-right: 8rem;
    color:#35b79c;
    padding:8px;
    line-height: 5rem;
    
}

.nav-list{
    display:flex;
    width: 100%;;
    align-items: center;

}

.nav-list  li{
    line-height: 6rem;
    position:relative;
}


.nav-list a{
    display:block;
    color: #eee;
    padding:0 4.9rem;
    font-size:1.9rem;
    text-transform: uppercase;
    transition: color 250ms;
   
}

/* COM EFEITO HOVER PSEUDO-CLASSE */
.nav-list a:hover{
    color:#35b79c;
}

/* DEFINIR LAYOUT PARA AS MENSAGENS INTRODUÇÃO */
section div {
    padding:1.3rem;
    display: inline-block;
    /* background-color:#35b79c; */
    
}

/* ESTILOS AOS SUBMENUS DO HEADER */

.dropdown-sub-menu1{
    width:15.4rem;
    display:block;
    position:absolute;
    border-top: 5px solid #35b79c;
    background-color: rgba(255, 255, 255, 0.235);
    z-index: 100;
    top:16rem;
    opacity: 0;
    visibility: hidden;    
}

.dropdown-sub-menu2{
    width:19.3rem;
    display:block;
    position:absolute;
    border-top: 3px solid #35b79c;
    background-color: rgba(255, 255, 255, 0.235);
    z-index: 100;
    top:16rem;
    opacity: 0;
    visibility: hidden;
}

/* Quando der hover o submenu 1 faz dropdown */
.nav-list li:hover  .dropdown-sub-menu1{
    top: 6.5rem;
    opacity: 1;
    visibility:visible;
}
/* Quando der hover o submenu 2 faz dropdown */
.nav-list li:hover  .dropdown-sub-menu2{
    top: 6.5rem;
    opacity: 1;
    visibility:visible;
}
/* Estilos dos links do HEADER NAV MENU */
li .destaques-btn{
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 14px solid #35b79c;
}


li .login-btn{
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 14px solid #35b79c;
    border-right: 4px solid #35b79c;
}

li .register-btn{
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 14px solid #35b79c;
}

/* HOVER ANIMATION PARA O HEADER NAV MENU */
  ul li .hover-jogos:hover {
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 14px solid #35b79c;
   
}

ul li .hover-pop-figures:hover {
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 14px solid #35b79c;
   
}

ul li .hover-acessorios:hover {
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 14px solid #35b79c;
   
}

ul li .hover-digitalcards:hover {
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 14px solid #35b79c;
    border-right: 4px solid #35b79c;
   
}

/*HOVER ANIMATIONS para OS SUB MENUS */
/* SUB-MENU1 */

.dropdown-sub-menu1 a:hover{
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 4px solid #35b79c;
    border-bottom: 4px solid #35b79c;
}
/* SUB-MENU2 */
.dropdown-sub-menu2 a:hover{
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 4px solid #35b79c;
    border-bottom: 4px solid #35b79c;
}

/* HOVER ANIMATION NAS MENSAGEMS ALTESC FOR FUN etc.. */

h2:hover{
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 12px solid #35b79c;
    color:#35b79c;
    cursor: pointer;
    
}

h2 i:hover{
    color: #35b79c;
}

h1{
    background-color:rgba(255, 255, 255, 0.235);
    border-top: 12px solid #35b79c;
    cursor: pointer;
    color: #35b79c;
}

 .ion-md-text:hover{
    background-color:rgba(255, 255, 255, 0.235);
    color:#35b79c;
}

/* HOVER ANIMATIONS PARA SUB MENU 1 EXTRA CONTENT */
ul li .a:hover{
    color:white;
}

ul li .b:hover{
    color:white;
}

ul li .c:hover{
    color:white;
}

ul li .d:hover{
    color:white;
}

ul li .e:hover{
    color:white;
}

ul li .f:hover{
    color:white;
}

ul li .g:hover{
    color:white;
}

/* ESTILOS DO FOOTER*/
footer{
    position:absolute;
    width: 100%;
    top:0;
}
h3{
    font-size:25px;
}

p{
    font-size:25px;
}

.ion-logo-facebook{
    font-size:25px;
}