/* Paramêtros Globais */
/* Seletor Global */
/* selector global para impactar o documento todo   */

*{  
  
    margin:0;
    padding: 0;
    box-sizing: border-box;
}    

/* ----------------------------------BACKGROUND-------------------------------------------------+*/

/* ROOT SEMELHANTE A TAG HTML REPRESENTA O DOCUMENTO TODO*/
:root{
    /* variáveis globais para o linear gradient */
    --primary: rgba(12, 87, 49, 0.568);
    --secondary: hsla(210, 79%, 27%, 0.75);
   
}

.bg-image{
    height: 100%;
    background-image: linear-gradient(180deg, var(--primary), var(--secondary)),
                      url("/Loja-E-Commerce/Images/BACKGROUND/dominique-van-velsen-by-dominique-van-velsen-offworld-cyberp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 140vh;

    
}

/* ------------------------------------------------HEADER----------------------------------------------------------------------- */
                                                /* HEADER NAV MENU */
header{
    width: 100%;
    position: absolute;
    top: 0;
}

header{
    position: absolute;
    width: 1200px;
    height: 35px;
    transform: translateX(12.8%);
    top:76px;
    padding:0 32px;
    border-bottom:14px solid #35b79c;

}

a{
    text-decoration: none;
}

ul{
    /* para eliminar os pontos dos items da ul por default */
    list-style: none;
}

div.container{
    width: 100%;
    max-width: 117rem;
    margin:0 auto;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
   
}

.logo{
    width: 45rem;
    height: 5.2rem;
    font-size: 59px;
    margin-right: 19px;
    margin-right: 8rem;
    color:#35b79c;
    line-height: 6.5rem;
    padding: 8px;
    transform: translateY(-130%);
}

.nav-list{
    transform: translate(18%,-70%);
    display:flex;
    /*  */
    width: 118%;
    height: 70px;
    align-items: center;
}


.nav-list a{
    display: inline;
    padding: 0 4rem;
    font-size: 1.75rem;
    padding-top: 1.6rem;
    padding-bottom: 1rem;
    
}

.ion-md-contact{
    position: absolute;
    left:900px;
    top:20px;
    font-size: 2.7rem;
}


.ion-ios-cart{
    position: absolute;
    left: 855px;
    top:20px;
    font-size: 2.7rem;
}

.logo{
    position: absolute;
    right: 821px;
}

.dropdown-sub-menu1{
    width: 13.1rem;
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.235);
    z-index: 100;
    top:16rem;
    opacity: 0;
    visibility: hidden;
}

.dropdown-sub-menu2{
    width: 16.4rem;
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.235);
    z-index: 100;
    top:16rem;
    opacity: 0;
    visibility: hidden;
   
}

.nav-list li:hover .dropdown-sub-menu1{
 
    top:5.7rem;
    opacity: 1;
    line-height: 5em;
    opacity:2;
    visibility: visible;
  
}

.nav-list li:hover .dropdown-sub-menu2{
    top:5.7rem;
    opacity: 1;
    line-height: 5em;
    visibility: visible;
}

/* ESTILIZAÇÃO DOS LINKS DO MENU  */

.ion-md-arrow-dropdown{
    color:white;
    font-size: 18px;
}

.link-style{
    transition: 0.2s ;
}


.link-style:hover{
    color:white;
    border-top: 8px solid white;
    background-color: rgba(29, 25, 163, 0.235);
    
}

.static-style-destaques{
    color:white;
    background-color:rgba(29, 25, 163, 0.235);
    border-top: 8px solid white;

}

.link-style{
    border-top: 8px solid #35b79c;
    background-color: rgba(255, 255, 255, 0.235);
 
}

a{
    display: flex;
    justify-content: center;
}

.static-style-destaques{
    display:flex;
    justify-content:center;
}

#no-focus{
    transition: 0.2s;
}

#no-focus:hover{
background-color: rgba(29, 25, 163, 0.235);
border-top: 8px solid white;
}

.dropdown-sub-menu1{
    background-color:rgb(21 22 45 / 44%);
     border-bottom: 4px solid white;
    
}

.dropdown-sub-menu2{
    border-bottom:4px solid;
}

.dropdown-sub-menu2{
    background-color:rgb(21 22 45 / 44%);
}

ul .style-sub-menu{
    transition: 0.1s;
}

ul .style-sub-menu:hover{
    color:#35b79c;
}

.ion-ios-cart:hover{
    color:#35b79c;
}

.ion-md-contact:hover{
    color:#35b79c;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

#focus{
    background-color: rgba(29, 25, 163, 0.235);
    border-top: 8px solid white;
}

#no-focus{
    background-color: rgba(255, 255, 255, 0.235);
    border-top: 8px solid #35b79c;
}

/* MAIN SECTION COM LISTA DE ARTIGOS  */

.container-one img{
    position: absolute;
    top:15%;
    left: 23%;
}

.container-two img{
    position: absolute;
    top:15%;
    left: 23%;

}
.container-three img{
    position: absolute;
    top:15%;
    left: 23%;
}

.container-four img{
    position: absolute;
    top:15%;
    left: 23%;

}

.container-five img{
    position: absolute;
    top:15%;
    left: 23%;

}

.container-six img{
    position: absolute;
    top:15%;
    left: 23%;

}

.heading h2{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 2.5em;
    color: white; 
}

.heading .line-heading{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 70.1%;   
    border: 4px solid #35b79c;
}

.heading h2{
    letter-spacing: 1px;
}

.container-one{
    background-color: rgba(255, 255, 255, 0.235);
    position: absolute;
    top:43%;
    width: 25em;
    height: 32em;
    left: 153px;    
}

.container-two{
    background-color: rgba(255, 255, 255, 0.235);
    position: absolute;
    top:43%;
    width: 25em;
    height: 32em;
    left: 412px;    
}

.container-three{
    background-color: rgba(255, 255, 255, 0.235);
    position: absolute;
    top:43%;
    width: 25em;
    height: 32em;
    left: 672px;    
}

.container-four{
    background-color: rgba(255, 255, 255, 0.235);
    position: absolute;
    top:43%;
    width: 25em;
    height: 32em;
    left: 93.3em;    
}

.container-five{
    background-color: rgba(255, 255, 255, 0.235);
    position: absolute;
    top:93%;
    width: 25em;
    height: 32em;
    left: 41em;    
}

.container-six{
    background-color: rgba(255, 255, 255, 0.235);
    position: absolute;
    top:93%;
    width: 25em;
    height: 32em;
    left: 67em;    
}

.container-products span{
    font-size: 1.5em;
    letter-spacing: 1px;
    position: relative;
    top: 62%;
}

/* -----------------------------------------FOOTER COM AREA INSTITUCIONAL------------------- */

footer{
    position: absolute;
    background-color: #35b79c;
    min-width: 100%;
    height: 18em;    
}

footer p{
    display: flex;
    justify-content: center;
    font-size: 2em;
    transform: translateY(580%);
}

.game-media{
    display: flex;
    padding-left: 20em;
    padding-top: 4em;
 
}

.ion-logo-xbox{
    font-size: 4em;
}

.ion-logo-playstation{
    font-size: 4em;
}

.ion-logo-apple{
    font-size: 4em;
}

.ion-logo-steam{
    font-size: 4em;
}

.ion-logo-windows{
    font-size: 4em;
}

.ion-logo-xbox{
    color:#107C10;
}

.ion-logo-playstation{
    color:rgb(29, 29, 157);
}

.ion-logo-windows{
    color:#1DA1F2;
}

.ion-logo-steam{
    color:black;
}
.ion-logo-apple{
    color:#fff;
}

.social-media{
    display: flex;
    padding-left: 124em;
    
}

.ion-logo-facebook{
    font-size: 4em;
}

.ion-logo-instagram{
    font-size: 4em;
}

.ion-logo-twitter{
    font-size: 4em;
}

.ion-logo-youtube{
    font-size: 4em;
}

.ion-logo-twitch{
    font-size: 4em;
}

footer .social-media{
position: absolute;
top: 40%;
right: 15%;
}

.ion-logo-instagram{
    color:#C13584;
    
}

.ion-logo-facebook{
    color:	#4267B2;
}

.ion-logo-twitter{
    color:#1DA1F2;
}

.ion-logo-youtube{
    color: rgb(196, 22, 22);
}

.ion-logo-twitch{
    color:rgb(135, 14, 135);
}

footer .logo{
    color: white;
    position: absolute;
    left: 11.6em;
}







