/* import de fonte tipográfica via web fonts google */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Fonts family para o site  */
*{
    font-family: 'Staatliches', cursive;
    font-size: 10px;
    color:white;
}
/* FONTES DA MENSAGEM DE WELCOME AO SITE */
.text-layout h1{
    font-size: 9rem;
    margin: 2rem 0;
    font-weight: bolder;
   
}
                                             /* class="icon-ion-md-chatboxes"> */
.text-layout h2{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 300;
}
/* COMANDOS HAVE FUN */
i{
  font-size: 1.2em; 
}

/* FAQ */
section a{
    font-size: 1.7em;    
}















