/* estilo as fontes do link do header */

.header a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-indent: -14px;
    
}

